name: audit

on:
  schedule:
    # every day at 9:00 UTC
    - cron: '0 9 * * *'

jobs:
  audit:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - uses: actions/setup-node@v2
        id: setup-node
        with:
          node-version: ${{ matrix.node }}
          cache: yarn
          cache-dependency-path: yarn.lock
      - run: yarn install
      - name: Run audit
        run: |
          make audit
