name: test

on:
  workflow_call:
  workflow_dispatch:

env:
  CACHE_DIR: installs

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node: ['14.x', '16.x', '18.x']

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - uses: actions/setup-node@v2
        id: setup-node
        with:
          node-version: ${{ matrix.node }}
          cache: yarn
          cache-dependency-path: yarn.lock

      - run: yarn install --frozen-lockfile

      # For rsync support in Windows
      - uses: GuillaumeFalourd/setup-rsync@v1
        if: matrix.os == 'windows-latest'

      - name: Restore cache
        id: build_cache
        uses: actions/cache@v3
        with:
          path: ${{ env.CACHE_DIR }}
          key: build-${{ runner.os }}-${{ matrix.node }}-${{ hashFiles('src/**', 'tsconfig*.json', 'yarn.lock', '.github/workflows/build.yml') }}

      - name: Restore cache to working directory
        shell: bash
        run: |
          echo ls -la ${{ env.CACHE_DIR }}/
          ls -la ${{ env.CACHE_DIR }}/
          echo ls -la ${{ env.CACHE_DIR }}/*
          ls -la ${{ env.CACHE_DIR }}/*
          for i in dist; do \
            rsync -a ${{ env.CACHE_DIR }}/"$i" "$i"; \
          done
          echo ls -la .
          ls -la .
          echo ls -la dist
          ls -la dist

      - run: yarn test
